@import './mixins.scss';

nav {
    background: $dark;
    width: 60px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    @include mobile {
        width: 100vw;
        height: 60px;
        bottom: 0;
        top: initial;
    }
}